.container {
    display: flex;
    gap: 1px;
    flex-wrap: wrap;
}

div {
    background-color: #5941A9;
    width: 6.15%;
    height: 70px;
}

div:hover {
    background-color: #E5D4ED;
}

body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

button {
    height: 50px;
    width: 100px;
    align-self: center;

}