.container {
    display: flex;
    /*gap: 1px;*/
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
}

div {
    background-color: rgb(0, 0, 0);
    width: 6.15%;
    height: 60px;
}

body {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    
}

button {
    height: 50px;
    width: 100px;
    align-self: center;

}